@font-face
    font-family: "a_GroticNr Bold"
    src : url("../fonts/a_GroticNr-Bold/a_GroticNr-Bold.ttf")
@font-face
    font-family: "a_GroticLtNr Normal"
    src : url("../fonts/a_GroticLtNr-Normal/a_GroticLtNr-Normal.ttf")
